.header-wrapper {
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: 20vh;
}
.home-link {
    text-decoration: none;
    color: white;
}
.myprofile-link {
    text-decoration: none;
    color: white;
}
.login-link {
    text-decoration: none;
    color: white;
}
.signup-link {
    text-decoration: none;
    color: white;
}
.Header-Login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    height: 30vw;
    width: 30vw;
    margin: 0 auto;
    margin-top: 20vh;
    background: white;
}
.sign-wrapper {
    display: flex;
    flex-direction: row;
}
.Sign-in-button {
    width: 50%;
}
.Sign-up-button {
    width: 50%;
}
body {
    background: #83d3c9;
}
