.home-container {
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.Login-please-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Login-please {
    text-align: center;
    margin-top: 2rem;
    font-size: 30px;
    color: white;
    text-decoration: none;
}
.hello-name {
    text-align: center;
    font-size: 3rem;
    margin: 0 auto;
    margin-top: 100px;
    color: white;
}
.content-wrapper {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.header {
    width: 100vw;
}
.white-space {
    width: 10vw;
    height: 15rem;
}